.preview__wrapper__editor,
.preview__wrapper__detail {
  position: absolute;
  right: 0;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 0.1rem;
  width: 50%;
  height: 100%;
  margin: 0;
}
.preview__wrapper__editor code {
  display: block;
  width: 30ch;
  word-wrap: break-word;
}

.preview__wrapper__browse {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
  width: 290px;
  height: 170px;
  margin: 0;
}

.preview__wrapper__profile {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 0.1rem;
  width: 350px;
  height: 400px;
  margin: 0;
}

/* https://css-tricks.com/snippets/css/complete-guide-grid/#fluid-columns-snippet */
.preview__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 2rem;
}
.preview__grid code {
  font-size: 10px;
  overflow-x: hidden;
}

.preview__grid pre {
  overflow: hidden;
  padding: 40px;
  line-height: 0.6;
  width: 30ch;
}
