.themes__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
}

.theme__card {
  width: 100%;
  margin: 0;
}

.theme__details__description {
  font-style: italic;
}

.theme__detail {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.theme__details__sidebar {
  margin: 0 40px 0 20px;
}
